@import './../styles/colors';
@import './../styles/devices';

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  position: fixed;
  width: 100%;

  .logo {
    width: 90px;
  }

}

@media screen and (min-width: $screen-xs) {
  #header {

    .logo {
      width: 150px;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  #header {

    .logo {
      width: 180px;
    }

  }
}